* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #1aa3c8;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.login {
    color: #000;
}

.signup {
    background: #1aa3c8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 42px;
    color: #1aa3c8;
    margin-bottom: 20px;
}

.hero-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background: #1aa3c8;
    color: #fff;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* IMAGE */
.hero-image img {
    width: 450px;
    max-width: 100%;
}





/* FEATURED SECTION */
.featured {
    background: #e0e0e0;
    padding: 50px 80px;
}

.featured h2 {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.course-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.course-card {
    background: #fff;
    padding: 25px;
    width: 300px;
    border-radius: 6px;
    text-align: center;
}

.course-card h3 {
    margin-bottom: 15px;
}

.course-card p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
    line-height: 1.5;
}

.price {
    font-weight: bold;
    margin-bottom: 15px;
}

.buy {
    width: 100%;
    padding: 10px;
    background: #37b3c8;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.cart {
    width: 100%;
    padding: 10px;
    background: #777;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #37b3c8;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}


/* ABOUT SECTION */
.about {
    padding: 40px;
}

.about-box {
    background: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* LEFT */
.about-left {
    width: 65%;
}

.about-left h2 {
    margin-bottom: 10px;
}

.about-left h3 {
    margin: 25px 0 10px;
}

.about-left p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.contact-info {
    display: flex;
    gap: 40px;
    margin-top: 25px;
    font-size: 14px;
}

/* RIGHT */
.about-right {
    width: 30%;
    text-align: center;
}

.team-title {
    margin-bottom: 15px;
}

.about-right img {
    width: 180px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.about-right h4 {
    margin-top: 8px;
}

.about-right span {
    font-size: 13px;
    color: #555;
}

/* STATS */
.stats {
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    margin-top: 20px;
}

.stats h3 {
    color: #1aa3c8;
    font-size: 20px;
    text-align: center;
}

.stats p {
    text-align: center;
    font-size: 14px;
}

/* FOOTER */
.footer {
    background: #1aa3c8;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
}




/* CONTACT SECTION */
.contact {
    padding: 40px;
}

/* FORM */
form label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #e0e0e0;
    border: none;
    outline: none;
}

form textarea {
    resize: none;
}

/* BUTTON */
form button {
    background: #1aa3c8;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #37b3c8;
    color: #fff;
    text-align: center;
    padding: 18px;
    margin-top: 30px;
    font-size: 14px;
}
